@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
@*<style>
body { margin: 0; padding: 0; font-family: sans-serif; /* background: url("~/wwwroot/Images/bg.jpg") no-repeat;*/ background-image: url(''); background-repeat: no-repeat; background-size: cover; }

</style>*@
<body>
    <div class="row">
        <div class="col-md-6">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="Input.Name"></label><strong style="color:red">*</strong>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Input.Name" class="form-control" />
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="Input.Email"></label><strong style="color:red">*</strong>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="Input.Password"></label><strong style="color:red">*</strong>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="Input.ConfirmPassword"></label><strong style="color:red">*</strong>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="Input.Address"></label><strong style="color:red">*</strong>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Input.Address" class="form-control" />
                        <span asp-validation-for="Input.Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="Input.City"></label><strong style="color:red">*</strong>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Input.City" class="form-control" />
                        <span asp-validation-for="Input.City" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="Input.State"></label><strong style="color:red">*</strong>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Input.State" class="form-control" />
                        <span asp-validation-for="Input.State" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="Input.PinCode"></label><strong style="color:red">*</strong>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Input.PinCode" class="form-control" />
                        <span asp-validation-for="Input.PinCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="Input.PhoneNumber"></label><strong style="color:red">*</strong>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Input.PhoneNumber" class="form-control" />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
                <button type="submit" class="btn btn-danger">Reset</button>
            </form>
            <br/>
            <br/>
        </div>
        <div class="col-md-6 ">
            <section>
                <h4>Register With</h4>
                <hr />
                @{ if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        @if (provider.DisplayName == "Google")
                                        {
                                            <button type="submit" class="btn btn-danger" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fab fa-google"><strong>+</strong> Sign Up Using  @provider.DisplayName</i></button><strong>OR</strong>
                                        }

                                        @if (provider.DisplayName == "Facebook")
                                        {
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fa">&#xf09a; Sign Up Using @provider.DisplayName</i></button>
                                        }
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>

</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
