@model IEnumerable<DomainModels.Product>

@{ ViewData["Title"] = "Index"; }
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<form method="get" asp-action="Index">
    <p>
        <a href="~/Product/Create" class="btn btn-info"><i class="fa fa-plus left"> Create New</i></a>
        <input type="search" placeholder="Enter name..." value="@ViewData["GetProductDetails"]" name="ProdSearch" style="width:500px" required />
        <input type="submit" value="Search" class="btn btn-primary" />
        <a class="btn btn-outline-primary" asp-action="Index">View All</a>
    </p>
</form>
<br/>
@*<form class="text-right">
    <p>

        <a href="~/Product/Create" class="btn btn-info"><i class="fa fa-plus left"> Create New</i></a>

    </p>
</form>*@
<table class="table ">
    <thead>
        <tr>
            <th>
                <button class="btn btn-primary disabled" id="hide">Hide Image</button>
                <button class="btn btn-primary active" id="show">Show Image</button>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td width="150">
        <div class="myDIV">
            <img src="~/Images/@item.Image" class="rounded-circle" height="40" width="40" asp-append-version="true" />
        </div>
    </td>
    <td>

        <a href="~/Product/Details?id=@item.Id">@item.Name</a>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Code)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Available)
    </td>
    <td>
        $@Html.DisplayFor(modelItem => item.Price)
    </td>
    <td width="150">
        @for (int i = 1; i <= item.Rating; i++)
        {
<span class="fa fa-star checked" title="@item.Rating"></span>                
        }
        @if (item.Rating % 1 > 0)
        {
<span class="fa fa-star-half checked" title="@item.Rating"></span>                
        }
        @for (var i = (Math.Ceiling(item.Rating)); i < 5; i++)
        {
<span class="fa fa-star Emptychecked" title="@item.Rating"></span>                
        }
    </td>

    <td>
        @Html.ActionLink("Edit", "Edit", new { Controller = "Product", id = item.Id })
        <a href="~/Product/Delete?id=@item.Id" class="btn btn-info">Delete</a>
    </td>
</tr>
        }
    </tbody>
</table>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#hide").click(function () {
            $(".myDIV").hide();
            $("#hide").hide();
            $("#show").show();
        });
        $("#show").click(function () {
            $(".myDIV").show();
            $("#show").hide();
            $("#hide").show();
        });
        $("#show").ready(function () {
            $(".myDIV").show();
            $("#show").hide();
            $("#hide").show();
        });
    });
</script>